.button-class {
padding: 16px 32px ;
background-color: green;
border: solid ;
color: white ;
font-size: 16px ;
margin: 4px 2px  ;
cursor: pointer  ;
display: inline-block;
transition-duration: 0.4s ;
}
